.trending-bg-container {
  height: 100vh;
  font-family: roboto;
}
.trending-card {
  display: flex;

  height: 91%;
}

.trending-page {
  width: 100%;
  overflow-y: auto;
}
.VscFlame {
  display: flex;
  align-items: center;
  padding-left: 30px;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}

.tr-t-logo {
  font-size: 35px;

  border-radius: 17px;
  margin-right: 10px;
  color: red;
}

/*trending List */

.tr-ul {
  padding: 0px;

  width: 100%;
}

.tr-link {
  text-decoration: none;
}
.tr-li {
  list-style-type: none;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tr-img {
  width: 100%;
}
@media screen and (min-width: 576px) {
  .tr-li {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .tr-img {
    width: 45%;
    margin-right: 15px;
  }
}
